* {
  text-align: center;
}

body {
  margin: 5vw 10vw 0px 10vw;
  padding: 0px;
  font-family: 'Overpass Mono', monospace, sans-serif;
  font-size: 2rem;
}

body * {
  box-sizing: border-box;
}

h3 {
  font-weight: bolder;
}

p {
  font-size: 1rem;
}

#contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 500px; */
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  background-color: #242426;
  padding: 2vmin;
  font-size: 1.5rem;
  justify-content: center;
}

.contentItem {
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  color: #eee;
  border: 2px solid #eee;
  border-radius: 0.25vmin;
  height: 100%;
}

.posterImageContainer {
  background-image: url('');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100px;
  width: 100%;
}

.posterImage {
  align-self: center;
  width: 200px;
  height: auto;

  border-radius: 0.25vmin;
  object-fit: contain; 
}